[submodule "modules/vim-plug"]
	path = modules/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "modules/dotbot"]
	path = modules/dotbot
    url = https://github.com/anishathalye/dotbot
[submodule "modules/dircolors-solarized"]
	path = modules/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "config/oh-my-zsh_custom/plugins/git-flow-completion"]
	path = config/oh-my-zsh_custom/plugins/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
[submodule "config/oh-my-zsh_custom/plugins/zsh-autosuggestions"]
	path = config/oh-my-zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
